@import '../../styles/variables.scss';

.button {
  font-weight: 600;
  border-radius: 13px;
  cursor: pointer;
  border: none;
  background: linear-gradient(102deg, var(--primaryYellow), #f49b00);
}

.button--primary {
  color: #000000;
}

.button--primary:hover {
  color: #f49b00;
  background: transparent;
  border: 2px solid #f49b00;
}

/* 
  SIZES
*/
.button--small {
  width: 185px;
  height: 30px;
  font-size: 14px;
}
.button--medium {
  width: 231px;
  height: 40px;
  font-size: 16px;
}
.button--large {
  width: 245px;
  height: 50px;
  font-size: 18px;
}
