.button {
  display: flex;
  line-height: 1.5715;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;

  border: 1px solid transparent;
  border-color: #d9d9d9;
  border-radius: 2px;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  padding: 4px 15px;
  font-size: 14px;
  color: #000000d9;

  .btn-text {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  /* 
    SIZES
  */
  &.size-default {
    width: unset;
    font-size: 16px;
  }
  &.size-small {
    width: 163px;
    font-size: 18px;
  }
  &.size-medium {
    width: 231px;
    font-size: 20px;
  }
}
